<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RegistroPreparadurias.styles.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script> <!-- Añadir Tailwind CSS -->
</head>
<body class="h-screen w-screen">

    <div class="container mx-auto px-4 h-full w-full">
        <main role="main" class="pb-3 h-full w-full">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
